[2017-09-01 19:31] rohankharwar opened #1 "Get error when importing data from Oracle 12c in Docker Container."
I am using `neo4j-etl` tool to import data from Oracle 12c into Neo4j. Oracle is setup on Docker. However when I run neo4j-etl I get the following error.

[code]

Here is my command

[code]

[2017-09-02 11:48] jexp commented on #1
Can we fix this for the particular case but also for the general case where we don't have a correct mapping?

I.e. mapping numbers to long/double and everything else to string?

[2017-09-02 11:49] jexp commented on #1
We would need the fix by early next week.

[2017-09-05 18:37] inserpio commented on #1
As we still don't manage arrays, the candidate rdbms to neo4j datatype mapping could be:
[code]

BLOB, CLOB are treated as `large_object` by the schemacrawler (see [here](https://github.com/sualeh/SchemaCrawler/blob/master/schemacrawler-api/src/main/java/schemacrawler/utility/JavaSqlTypes.java)) and we esclude them  from the import (by returning `null` in the above switch), otherwise the risk is h

[2017-09-11 15:53] bluvoice opened #2 "Error exporting from RDBMS to CSV"
My steps:

- Generating metadata mapping...
./bin/neo4j-etl postgresql generate-metadata-mapping --host myhost --port 5432 --user myuser --password 'mypassword' --database mydb > /tmp/ilikeit/mapping.json

- Creating options.json...
echo '{"multiline-fields":"true"}' > /tmp/ilikeit/options.json

- Exporting from RDBMS to CSV...
./bin/neo4j-etl postgresql export --host myhost --port 5432 --user myu

[2017-09-11 17:39] albertodelazzari commented on #2
Hi @bluvoice, it seems that the tool is not reading the schema name properly. Are you using a specific schema or the public one?
Meanwhile you can also try to specify the schema name with the `--schema` option (for example `--schema myschemaname`

[2017-09-12 10:09] bluvoice commented on #2
Hi @albertodelazzari, I've tried to specify the schema name but the result is a empy mapping.json file.

Then, I've tried to replace in the mapping.json the string "null" with the name of db and to execute the step for exporting data to csv and importing them into graph db. The result of command is without errors, but it doesn't build relationships but only nodes.

[2017-09-12 16:47] albertodelazzari commented on #2
Can you try to run the following commands and paste the results?

Access sql console with `sql -U username`

Run the following commands:

`\l` --> (list of databases)
`\dn` -->  (list of schemas)

This will help us to better understand how you Postgres instance is and to replicate you issue
Thanks

[2017-09-14 09:01] bluvoice commented on #2
Sorry, but I'm not authorized to share many info about db instance.

What part of the results do you need?

[2017-09-14 12:26] albertodelazzari commented on #2
@bluvoice I can share with you a build "preview" of the next release where probably your issue doesn't exist. I think it's worth a try. You can contact me at alberto.delazzari@larus-ba.it and I'll send you a link in order to download the package

[2017-11-15 12:11] peternorbeck opened #3 "Example code for using neo4j-etl with Microsoft SQL Server on local Docker"
Hello,

I've had a discussion on the neo4j #help-import slack channel about using neo4j-etl to export data from a local Microsoft SQL Server running on a Docker.  With help from the great people there I got it working.  Because there ara lacking documentation about this I wrote some documentation about what I did that maybe could be useful for others.

My settings:
* OSX
* Docker installed
* neo4j

[2017-11-15 16:37] jexp commented on #3
Thanks so much @peternorbeck!

@albertodelazzari can you add it to the docs please?

[2017-11-30 21:41] maxdemarzi opened #4 "Request to support Hive"

[2017-11-30 21:41] maxdemarzi opened #5 "Request to support Netezza"

[2017-12-15 18:56] davidlrosenblum opened #6 "Import from PostgreSql fails on boolean data type"
If one of the tables has a boolean data type, the Import using Cypher Shell fails when the data is written to the csv.  The error is:
- Command failed due to error (RuntimeException: org.postgresql.util.PSQLException: Bad value for type byte : t). Rerun with --debug flag for detailed diagnostic information.

The complete error from the log is attached here:
[etl_err_psql_boolean.txt](https://githu

[2017-12-16 12:21] jexp commented on #6
Can you share the generated file?

Alberto  it would be good if we covered all the data types and input modes in IT.
Perhaps we can have one generic IT that is parameterized with both databases and input modes?
And only checks on the resulting graph?

[2017-12-17 02:16] davidlrosenblum commented on #6
I have attached all the files I could think of
[etl err1.zip](https://github.com/neo4j-contrib/neo4j-etl/files/1565252/etl.err1.zip)

[2017-12-21 16:19] mariobastande commented on #3
Thanks for your example, was really helpful.

Is there a way to run the ETL tool into the Desktop for SQL Server? Tried everything in the documentation but seems made for server only.

I'm running Enterprise version on a server and desktop in local.

Thanks!

[2018-01-23 09:11] abs-zero opened #7 "Every field from MYSQL mapped to strings"
When I tried to import with `--using cypher:direct`, every field from MYSQL database got imported as strings in neo4j database. But imports is fine with correct data types if done without `--using cypher:direct`.
Is this a bug?

[2018-01-23 15:02] inserpio commented on #7
Hi @abs-zero, just confirmed on slack that it's indeed a bug as we don't manage the "neo4j-data-type" properly when you use all 3 non-bulk --using options.

[2018-01-23 15:08] inserpio commented on #7
@AngeloBusato @albertodelazzari CsvNode and CsvRelationship need to check the "neo4j-data-type" field and manage type conversion accordingly (toInt, toFloat) as LOAD CSV by default imports as String...

[2018-01-24 14:53] jexp commented on #2
@bluvoice ping?

[2018-01-24 14:55] jexp commented on #4
Will test when having access to a hive instance.

[2018-01-24 14:55] jexp commented on #5
Do you have access to a test instance?
And a JDBC driver?

[2018-01-24 15:04] jexp commented on #1
This should be fixed for some months now @rohankharwar

could you re-check?

[2018-01-24 15:04] #1 closed

[2018-01-28 06:40] abs-zero commented on #7
Are there any updates?

[2018-01-29 10:19] albertodelazzari commented on #7
@abs-zero in a couple of day we will do a new release with the fix for your issue

[2018-02-05 07:37] Yoshiiiiiii opened #8 "Error running etl on Windows 10"
When I try to run `neo4j-etl help` in Windows Command Prompt or PS I only get this error:
[code]
I get this error on 2 different PC's both with Windows 10 Pro(both up to date). I have environment variables for NEO4J_HOME and for JAVA_HOME.
`neo4j-etl-cli-1.2.0-BETA01` was unzipped.

On my PC at home I downloaded the Community Edition 3.3.2, downloaded & unzipped the neo4j-etl-cli-1.2.0-BETA01-rele

[2018-02-14 09:35] kvegter opened #9 "Add the possibility to remove table mappings"
In many cases you do not want to load the complete database. Especially with very big databases. So there must be a possibility to remove the tables from the table mapping. Normally you know your rdbms so maybe it is useful to apply a filter before retrieving the metadata from the rdbms, it will save time.

[2018-02-14 09:45] kvegter opened #10 "The NeoIntegrationCli process having errors and not exiting"
I was testing with an oracle HR example database (SDP_VM), and there where errors in the NeoIntegrationCli process and they were not shown in the etl-gui. In fact the etl-gui remains in the same initial state. Only after I killed the process then I saw the output of the NeoIntegrationCli in the etl-gui.
This was in ETLApp 0.0.13 and Neo4jDesktop 1.0.13 (1.0.13.477)

- The NeoIntegrationCli process

[2018-02-14 09:50] kvegter opened #11 "It must be possible to give the neo4j username and password in the etl-gui"
When you create in the Neo4jDesktop a db, it creates it without setting a username/password. As soon as you open the browser it asks to reset the password. So we need the possibility to give a neo4j username and password in the etl-gui.

[2018-02-21 09:42] abs-zero commented on #7
Booleans are still not mapped properly with `--using cypher:direct`

[2018-02-21 09:44] jexp commented on #7
@abs-zero Which version do you use?

[2018-02-21 09:56] abs-zero commented on #7
neo4j-etl-cli-1.2.0-RC1

[2018-02-21 09:58] abs-zero commented on #7
For more context, I am mapping `TINYINT` of mysql to `Boolean` in neo4j. This works fine without `--using cypher:direct`.

[2018-02-21 16:38] inserpio commented on #7
Hi @abs-zero, I confirm we're not managing TINYINT properly using all 3 cypher approaches.
Will mark this issue as a BUG and start working on it just right now.

[2018-03-05 08:48] sarmbruster opened #12 "csv files for relationships uses backticks to quote start/end node id"
e.g. from northwind I got:

[code]
In import more `cypher-shell` a `toInt(row[0])` obviously fails.

[2018-03-05 08:50] sarmbruster opened #13 "add more mapping capabilities"
In the wild almost every RDMBS stores denormalized data somewhere. To digest this into graph a simple "1 row == 1 node" approach is too restrictive.

Consider e.g. a table `person` having multiple email addresses `email1`, `email2`, `email3` ...

In graph I want to map this to `(p:Person)-[:HAS_EMAIL]->(:Email{name:email1}), (p)-[:HAS_EMAIL]->(:Email{name:email2}) , (p)-[:HAS_EMAIL]->(:Email{name:

[2018-03-05 09:35] Yoshiiiiiii commented on #8
I wasn't aware there is a difference between  `L:\neo4j-etl-cli-1.2.0-RC1>bin\neo4j-etl help` and `L:\neo4j-etl-cli-1.2.0-RC1\bin>neo4j-etl help`. With `L:\neo4j-etl-cli-1.2.0-RC1>bin\neo4j-etl help` the command works.

[2018-03-05 09:35] #8 closed

[2018-03-22 17:40] lju-lazarevic opened #14 "Cypher query for importing data needs to be fixed for windows paths"
Cypher query for importing data needs to be fixed for windows paths in load-csv.cypher. For example:
LOAD CSV FROM 'file:///csv-016\northwind/NODE_northwind.products_02e6d3c7-d906-4031-93cb-ee12ce8b20ca.csv'

[2018-03-23 16:04] davidlrosenblum opened #15 "Mapping shows the previous mapping, not the one just generated"
To reproduce, create two connections.  First map one of the connections, click next, import.
Close the ETL tool.
Reopen the ETL tool.
Select the other connection.
Click Start Mapping
Previous mapping will show
Clicking Next will show the tables and columns and the node diagram from the first mapping.

[2018-03-28 17:12] omarlarus commented on #15
Hi @davidlrosenblum ,
I cannot reproduce this issue. Can you provide us any further information?
- the connection names
- the connectoin driver types
- the ETL and neo4j desktop version
- the Operation System

Thanks

[2018-03-29 08:46] albertodelazzari commented on #15
We are not able to reproduce the issue using a MacOS, are you using a Windows OS?

[2018-04-04 10:22] jexp opened #16 "report command line tool invocation"
report to console

1. command that is run
2. contents of stdout
3. contents of stderr

Add tests that make sure that errors are reported correctly.

[2018-04-04 10:24] jexp opened #17 "we should use one directory per schema"
or at least prefix the mapping file with the schema name.
Otherwise multiple imports will read/write to the same mapping file.

[2018-04-04 10:34] jexp opened #18 "missing output from import step"
the user doesn't know what actually happened

the import step should also capture stdout/stderr (from cypher-shell / neo4j-shell / direct-import / import-tool)

or alternatively write to a file and report those outputs to the user

we should also check that data is actually added as required, as we know which labels/rel-types we can ask the running database before / after and show these counts + d

[2018-04-10 08:58] stecinq opened #19 "oracle disabled foreign-keys"
If someone define a constraint but do not explicitly enable or disable it, Oracle enables it by default.
Any SQL INSERT, UPDATE or DELETE command applied to a table with constraints enabled has the possibility of failing. This is not true in case a constraint is disabled so Neo4j-etl, should, in my opinion be able to represent this situation while importing.  If a table with a foreign key (which i

[2018-04-11 05:39] inserpio commented on #19
@albertodelazzari we need to check whether the SchemaCrawler returns FK statuses or not.

[2018-05-15 10:54] anurag-onGit opened #20 "Escaping characters in CSVs generated by neo4j etl tool"
I am trying to export data from mysql to neo4j using neo4j-etl tool --using cypher:direct . But the neo4j-etl export command gets stuck after generating csv files. It remains stuck at
INFO: Creating Neo4j store from CSV...
without showing and error or stopping . Upon investigating the cypher file generated by neo4j-etl , I think that the problem is with the CSV files have some characters like  new

[2018-05-17 07:41] omarlarus commented on #20
Hi, some questions:
- neo4j-etl version
- neo4j-desktop version (if you are using it)
- operating system
Paste your command line and a sample of CSV file you think has the problem, please.
Quoting and special characters can give problems.

[2018-05-19 08:44] pratikid commented on #20
Neo4j Version : 3.3.3
Neo4j-etl Version : 1.2.0-RC1
Operating System : Windows 7 Enterprise

INFO: Creating Neo4j store from CSV...
org.neo4j.driver.v1.exceptions.ClientException: Invalid input 'c': expected '\', ''', '"', 'b', 'f', 'n', 'r', 't', UTF16 or UTF32 (line 2, column 32 (offset: 54))
"LOAD CSV FROM 'file:///csv-009\copy_table/NODE_copytable.countries_fac3235d-8494-4e7e-9a5f-143e9a20d563

[2018-05-22 14:23] albertodelazzari commented on #20
Hi, this should be fixed in the next release.

[2018-05-31 15:23] #20 closed

[2018-05-31 15:26] omarlarus commented on #16
solved with release 1.2.0

[2018-05-31 15:26] #16 closed

[2018-05-31 15:27] omarlarus commented on #14
solved with release 1.2.0

[2018-05-31 15:27] #14 closed

[2018-05-31 15:27] omarlarus commented on #12
solved with release 1.2.0

[2018-05-31 15:27] #12 closed

[2018-05-31 15:31] #2 closed

[2018-05-31 15:37] mguarnaccia commented on #9
Hi, table filters are available in ETL release 1.2.0

[2018-06-01 07:47] #7 closed

[2018-06-12 13:45] bobbachand opened #21 "Neo4j ETL UI cannot save mapping"
Hi Feedback,

I have run into an issue with the ETL UI wizard. I can connect and map relational database to graph but when I get to the  “Explore and change your metadata” page I cannot save using the “Save Mapping” button and the "Next" button does not become active.

Example screen capture and I have tried this on two different databases.
![image](https://user-images.githubusercontent.com/819561

[2018-06-12 21:51] jexp commented on #21
Hi Bob,

can you check the following:

- there is a log file written to the "import" directory of your database

- enable developer mode in neo4j desktop
- reload / restart neo4j-etl
- there should be a developer tools button on top
- click that and check/share the JS console (make sure to remove any credentials/addresses)

Thanks

[2018-06-13 13:49] bobbachand commented on #21
Thanks, here is the log from the developer console.
[neo4-etlError.log](https://github.com/neo4j-contrib/neo4j-etl/files/2098362/neo4-etlError.log)

[2018-06-20 06:06] Zaky7 commented on #20
Neo4j Version : 3.3.4
Neo4j-etl Version : 1.2.0
Operating System : Mac OS X

I am running below command

[code]

I am getting following error while importing. This is due to escape characters in a CSV file
[code]

[2018-06-20 12:41] AngeloBusato commented on #20
Hi @Zaky7, can you paste your csv and mapping files please?

[2018-06-20 12:48] Zaky7 commented on #20
Sorry @AngeloBusato  I am not allowed to paste the mapping.json and data CSV files. I can give you the snippet of part where the error is coming.  ETL tool is working in offline mode for importing data but not in online mode.

[2018-06-20 13:27] AngeloBusato commented on #20
@Zaky7 can you explain why you use `--quote '",'`?
CSV are quoted automatically according to the standard.

[2018-06-20 13:29] bobbachand commented on #21
Was this what you need?

[2018-06-20 16:46] Zaky7 commented on #20
@AngeloBusato ,  I have tried running it without the --quote flag. It is giving me same error. ETL tool is not escaping the special character in my data.

This is snippet of line in csv file where it is giving the error

[code]

This is the output I am getting from ETL error log

[code]

[2018-06-21 09:18] albertodelazzari commented on #20
@Zaky7 the issue seems to be not related to CSV escaping but cypher queries generation. To better understand the issue and try to replicate it we need, at least, the full CSV row with the escaped JSON. Or maybe you can paste here the following chars (in the escaped JSON) after the string "Patient stable\nstoma". We want to verify that the escaped JSON is escaped correctly when it is written on the

[2018-06-21 09:32] albertodelazzari commented on #21
@bobbachand if you're using the ETL tool on windows, we resolved an issue related to the "next" button. In the next release, it will be fixed.

[2018-06-21 09:32] albertodelazzari commented on #15
I think we can close this issue

[2018-06-21 09:34] albertodelazzari commented on #11
Neo4j username and password are now automatically retrieved by using the Neo4j Desktop API so there is no need to give them

[2018-06-21 09:35] albertodelazzari commented on #10
Error messages have been improved so please try the latest version of Neo4jDesktop and ETL tool

[2018-06-21 09:35] #10 closed

[2018-06-21 09:35] #11 closed

[2018-06-21 09:36] albertodelazzari commented on #6
Do you have this problem with the latest release?

[2018-06-21 10:58] Zaky7 commented on #20
@albertodelazzari  I have created a dummy database for replicating this issue

Here is the csv file

[code]
When I am running this command

[code]

It is giving me the following error

[code]

[2018-06-21 12:55] mguarnaccia commented on #20
Hi,
@Zaky7 : could you post the content of options file "options.json"?
You might be missing an option for handling multiline fields: {"multiline-fields":"true"}

[2018-06-21 13:06] bobbachand commented on #21
Thanks Alberto, any estimate on when this will be released?

[2018-06-21 14:31] Zaky7 commented on #20
@mguarnaccia  I am using this option already in my option.json

[2018-06-21 14:41] albertodelazzari commented on #20
@Zaky7 the following CSV file can't be a valid one because it doesn't respect the RFC 4180 format for CSV files. If the ETL creates a CSV file like this from your relational database then we should understand why this happens but in this case, it would be better to have a sample table.

Thanks

[code]

[2018-06-25 11:32] Zaky7 opened #22 "Neo4J elt tool not escaping the characters in CSV"
I am trying to export data from mysql to neo4j using neo4j-etl tool.

Neo4j Version : 3.3.4
Neo4j-etl Version : 1.2.0
Operating System : Mac OS X

I am running below command

[code]

I am getting following error while importing. This is due to escape characters in a CSV file
[code]

I have created a dummy database **neocheck** for replicating this issue

Here is the csv file

[code]
When I am runn

[2018-06-27 10:03] umuzammil opened #23 "UI feature to exclude tables and properties"
This is a request to add a feature in the ETL UI to exclude properties and tables at the mapping stage. See attached.
![capture](https://user-images.githubusercontent.com/31652619/41967533-b96aaac4-79f9-11e8-8c16-8ead427b9b6d.PNG)

Thankyou!

[2018-06-27 13:10] bobbachand commented on #23
I agree

[2018-06-29 15:54] vesko50 commented on #3
Thanks for great article.
I have problem establishing my connection.
I am using Windows 10  64-bit, MS SQL Server 2017, and JDK 8. According to Microsoft documentation, SQL Server 2017 is supported by JDBC 6.2 and 6.4 drivers, but this does not work for me. I am getting 'Connection Error'.
I this case i am using mssql-jdbc-6.22jre8.jar
Any suggestion?
Thanks.

[2018-07-02 08:13] albertodelazzari commented on #3
Hi @vesko50, a new ETL version with a better message reporting when facing connection issues should be released soon.
In the meantime you can try something like that:

`java -cp "<PATH_TO_ETL_TOOL_JAR/neo4j-etl.jar:<PATH_TO_YOUR_JDBC_DRIVER>/mssql-jdbc-6.1.0.jre8.jar" org.neo4j.etl.rdbms.Support "jdbc:sqlserver://localhost:1433;databaseName=<DATABASE_NAME>" <USERNAME> <PASSWORD>`

You should be ab

[2018-07-03 21:00] alphen87 commented on #21
I would also like to know when the next version will be released, I am having the same issue with mapping larger schemas at the moment. When I tried this on a simple MySQL test database with 2 tables and 1 foreign key, it seems to be working fine.

[2018-07-04 19:03] jexp commented on #6
@davidlrosenblum ping?

[2018-07-04 19:04] jexp commented on #9
At least in the command line.

[2018-07-04 19:04] #15 closed

[2018-07-04 19:05] jexp commented on #19
@albertodelazzari any update on this one?

[2018-07-04 19:05] jexp commented on #21
Releasing today.

[2018-07-04 19:07] jexp commented on #22
@albertodelazzari we should use opencsv CsvWriter going forward no the old approach.

[2018-07-05 18:22] davidlrosenblum commented on #6
On Holiday. Will check on Monday.

David

On Jul 4, 2018, at 3:03 PM, Michael Hunger <notifications@github.com> wrote:

@davidlrosenblum <https://github.com/davidlrosenblum> ping?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/neo4j-contrib/neo4j-etl/issues/6#issuecomment-402544170>,
or mute the thread
<https://github.com/n

[2018-07-09 13:20] davidlrosenblum commented on #6
I can confirm this is fixed in ETL 1.2.1

[2018-07-09 15:43] bobbachand commented on #21
Thanks, the issue has been resolved.

[2018-07-09 15:43] #21 closed

[2018-07-13 09:22] umuzammil opened #24 "space character causes mapping exception"
during import, following exception is thrown if theres a space character in the property name e.g. if the mssql table contains a space character:

[code]

[2018-08-31 10:41] jexp opened #26 "composite indexes / FK in Postgres"
From a user:

[2018-09-06 12:30] nohunt opened #27 "I have a question, is the source code of neo4j-etl removed? I can't find it"
I need neo4j-etl source code

[2018-09-10 02:30] nohunt commented on #27
Because there was a problem with neo4j-etl, I saw the issue and I didn't find the answer. So I need the source code and debug it myself. Finally, I want to say that the experience of neo4j is very good. I hope that the same is true for neo4j-etl.

[2018-09-10 22:33] jexp commented on #27
What was the problem? Did you raise an issue about it?

[2018-09-11 17:22] grubytolman commented on #6
I got similar problem in etl 1.2.1:

./bin/neo4j-etl export --rdbms:url jdbc:postgresql://myurl:5432/public --rdbms:schema example --rdbms:user my_user --rdbms:password pass --destination /var/lib/neo4j/data/databases/graph.db/ --import-tool /usr/share/neo4j/bin --csv-directory /var/lib/neo4j/import --force

and getting:
Peak memory usage: 0.00 B', Stderr: 'WARNING: neo4j-import is deprecated and

[2018-09-12 08:40] jexp commented on #6
@grubytolman can you share the table definition for that column?

Which Postgres version are you using?

[2018-09-12 08:50] grubytolman commented on #6
PostgreSQL 9.4.15 on x86_64-unknown-linux-gnu 64-bit

CREATE TABLE xxx.xxx
(
  installed_rank integer NOT NULL,
  version character varying(50),
  description character varying(200) NOT NULL,
  type character varying(20) NOT NULL,
  script character varying(1000) NOT NULL,
  checksum integer,
  installed_by character varying(100) NOT NULL,
  installed_on timestamp without time zone NOT NULL DEFAUL

[2018-09-28 01:47] edward3132 opened #28 "How do you specify the “—output-mapping-file” path"
![image](https://user-images.githubusercontent.com/43660163/46183392-ac71dd00-c30b-11e8-8487-bb80c7151ca1.png)

COMMAND: java -cp "C:\Users\FAS01\.Neo4jDesktop\graphApps\neo4j-etl-ui/dist/neo4j-etl.jar" org.neo4j.etl.NeoIntegrationCli generate-metadata-mapping --rdbms:url "jdbc:mysql://192.168.249.241:3306/btc?autoReconnect=true&useSSL=false&useCursorFetch=true" --rdbms:password "neo4j" --rdbms:us

[2018-10-17 07:08] ninghongbo123 opened #29 "No matching schemas found"
java.sql.SQLException: No matching schemas found
        at org.neo4j.etl.sql.DatabaseClient.getCatalog(DatabaseClient.java:151)
        at org.neo4j.etl.sql.DatabaseCatalog.<init>(DatabaseCatalog.java:81)
        at org.neo4j.etl.sql.metadata.TableInfoAssembler.<init>(TableInfoAssembler.java:35)
        at org.neo4j.etl.commands.DatabaseInspector.buildSchemaExport(DatabaseInspector.java:35)

[2018-11-06 07:32] Joshua-Yu opened #30 "Error on Oracle connection"
When trying to connect to Oracle (using ojdbc6, as well try with ojdbc5), it shows the error message below:

Exception in thread "main" java.lang.AbstractMethodError: oracle.jdbc.driver.T4CConnection.getSchema()Ljava/lang/String; at

Upon reading a bit off the internet, it seems there might be some compatibility issues.

We also repeated the same steps with different Oracle databases, and it shows

[2018-11-09 15:16] mikgab opened #31 "neo4j-etl error running on mac"
I am trying to run this etl command on mac (works fine on linux):

./bin/neo4j-etl generate-metadata-mapping --rdbms:url jdbc:mysql://xx.xx.xx.xx:3306/test --rdbms:user test --rdbms:password tet --rdbms:schema test --output-mapping-file /tmp/CST/mapping.json

and I am getting this error:
Exception in thread "main" java.lang.UnsupportedClassVersionError: org/neo4j/etl/NeoIntegrationCli : Unsupporte

[2018-11-16 01:00] jexp opened #32 "Support Remote Database connection in Desktop"

[2018-11-23 18:11] miguelemosreverte opened #33 "Azure MSSQL does not support USE statements. [mapping SQL exception]"
Hello there!

Images sometimes are better than words.

![image](https://user-images.githubusercontent.com/9152392/48956410-9d856080-ef31-11e8-8596-ec7e8122fd6d.png)

![image](https://user-images.githubusercontent.com/9152392/48956418-a9712280-ef31-11e8-9820-e464fda05f66.png)

[2018-11-23 18:30] miguelemosreverte opened #34 "Azure MSSQL does not migrate relationships"
It was a beautiful day in Azure
![1](https://user-images.githubusercontent.com/9152392/48956548-59469000-ef32-11e8-8f2c-7e4347e9a79d.png)
when suddenly...
![image](https://user-images.githubusercontent.com/9152392/48956618-c9edac80-ef32-11e8-8d85-bf335b1cf6d8.png)
### > 'You need to have foreign-key constraints set up in your relational database, otherwise the database-metadata doesn't identify wh

[2018-11-23 18:46] miguelemosreverte commented on #34
Steps to replicate:
  - Create an Azure account
  - Create an empty SQL database
  - Create a basic relationship between two tables
  - Maybe even prove that the step below had been made correctly by trying to add invalid entry into the table that references the other table. So that it references a non-existant id. This we did in the picture below.
  - Now go migrate the tables to Neo4j ETL! 💃
  -

[2018-11-27 09:41] Joshua-Yu commented on #30
Any update?

[2018-11-30 09:15] albertodelazzari commented on #30
@Joshua-Yu I'm using ojdbc6 with 11 and 10 server version without any issues. The ojdbc driver doesn't contain the dependencies for the DMSConsole.

Probably the Oracle server instance you're trying to connect to is usigin the Dynamic Monitoring System or in some way it's required for the connection.

What I can suggest is to add also the dms.jar when defining the connection in the ETL tool. You s

[2018-11-30 11:16] albertodelazzari commented on #22
This should be closed with the one of the latest PRs

[2018-11-30 11:16] #22 closed

[2018-12-03 11:32] Joshua-Yu commented on #30
Thanks! Let me have a try and come back to you.

[2018-12-07 15:30] jexp commented on #30
@Joshua-Yu ping?

[2018-12-11 02:22] miguelemosreverte commented on #34
Hey! Did not see you there, @jexp !

Feel free to ask for help, we value a lot someone with, let's see, 158 stars( _and counting_!) had been assigned to this bug hunt!

Anything we can do for you, we will, you can count on us.

[2018-12-11 14:52] conker84 commented on #34
Hi @miguelemosreverte and thanks for reaching us!
We are on this and we'll give you feedback asap.

[2018-12-11 21:52] conker84 commented on #33
Hi @miguelemosreverte and thanks for reaching us! This bug is due to a lack of support of the `USE` keyword (used by SchemaCrawler) in Azure SQL DB:
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/use-transact-sql?view=sql-server-2017.
At this moment the solution is specify the **schema** in the related field

[2018-12-12 14:42] miguelemosreverte commented on #34
Thanks you so much, @conker84 !

Bug #33 has been solved by you successfully, we fully trust we can overcome this one too.  Cheers from Argentina!

[2018-12-12 16:33] conker84 commented on #34
Hi @miguelemosreverte I'm happy that the #33 has been solved!
For this issue I hope this jar would solve your problem:
[neo4j-etl.jar.zip](https://github.com/neo4j-contrib/neo4j-etl/files/2672622/neo4j-etl.jar.zip)
Can you unpack it inside the `neo4j-etl-ui` directory? Following a list of possible locations:

| OS | Location |
|----|----------|
| macOS | ~/Library/Application Support/Neo4j Desktop

[2018-12-12 18:02] miguelemosreverte commented on #34
Like this? About to test it right now

![image](https://user-images.githubusercontent.com/9152392/49888950-ffddcc80-fe1e-11e8-9985-bcce034f012c.png)

[2018-12-12 18:05] miguelemosreverte commented on #34
![image](https://user-images.githubusercontent.com/9152392/49889065-5c40ec00-fe1f-11e8-902a-80a5605e5edf.png)

[2018-12-12 18:06] miguelemosreverte commented on #34
_**Mapping successful...**_
![image](https://user-images.githubusercontent.com/9152392/49889133-8397b900-fe1f-11e8-8951-7b5f83bcfcf2.png)

[2018-12-12 18:07] miguelemosreverte commented on #34
**... no!!!**

![image](https://user-images.githubusercontent.com/9152392/49889158-927e6b80-fe1f-11e8-8bbe-0ce0a9d4edf9.png)

[2018-12-12 18:18] miguelemosreverte commented on #34
We managed to place it correctly, like this:

![image](https://user-images.githubusercontent.com/9152392/49889650-d3c34b00-fe20-11e8-87eb-5f61a2c16f73.png)

After that we received a new error instead of the usual "successfull" mapping that mapped no relationships. So, good news! 👍

[code]

[2018-12-12 18:53] conker84 commented on #34
Mmm that's quite strange, can you please remove (or move out) the `_old.jar` and try again?

[2018-12-12 18:56] conker84 commented on #34
And If it's possible can you share the schema of the db?

[2018-12-12 22:34] miguelemosreverte commented on #34
(this message will be replaced with the full requested response on Saturday)

We will perform both this requests in the following days, sorry for the backpressure but Friday is demo day of the sprint, so _no time for caution_!  ([semirelated ](https://www.youtube.com/watch?v=EaJHFxCYUjI) :P)

[2019-01-24 23:21] michaeljquinn opened #35 "Blank screen after selecting MS SQL driver on ETL v 1.3.1"

[2019-01-24 23:33] michaeljquinn commented on #35
The bug is definately in the file selection dialog, where jdbc driver from file system is selected. Oracle, MS SQL, DB2 and jdbc all behave in the same manner

[2019-01-24 23:40] michaeljquinn commented on #35
also tried the download link on the etl site here in github - sqljdbc42, same behaviour, definately a problem with non built in drivers, where does the config file get generated ?

[2019-01-24 23:41] michaeljquinn commented on #35
re-opened, got closed by accident

[2019-01-25 13:37] conker84 commented on #35
@michaeljquinn thanks a lot for reporting this!
We are investigating and we'll give feedback ASAP.

[2019-01-30 21:35] meistermeier opened #36 "Error message "Mapping error" can be more precise"
When starting the mapping process, there are several possibilities that might lead to the error message "Mapping error". I just included one screenshot for a not yet started MySql server.

The configuration I was faced with this very generic message:
- No SQL database defined at all
- No SQL database selected
- Connection error (Not available, wrong credentials...)
- No Neo4j selected (after start

[2019-01-30 21:45] meistermeier opened #37 "Renaming nodes or relationships does not remove last character"
This is more of a cosmetic nature but still a little bit of bad UX.
When renaming a node label or relationship type and the term gets completely removed, the last character will survive in the graph preview. I just assume that has something to do with model binding and events 😄
![etl_renaming](https://user-images.githubusercontent.com/435872/52014755-a883e080-24e0-11e9-98cc-10abe1c37c0d.png)

[2019-01-30 21:51] meistermeier opened #38 "Explain what Bulk and Online import mean"
The ETL tool tries its best to explain every step that one should do to have a successful import at the end but IMHO fails at the point where the import mode gets chosen. A short explanation (tooltip/help bubble/fixed content) would be helpful to show what will happen if the user continues with _Import Data_.

[2019-01-30 21:57] meistermeier opened #39 "Add the option to close the ETL tool after the import was successful"
Besides the note that says "Import successful" the user does not get any (visual) feedback. It would be nice if there would be a "Ok, thanks ETL tool, bye" button to close the window/ETL Tool. This also implies to the user that it is now ok to close this window.

[2019-01-31 09:40] michaeljquinn commented on #35
Michael Quinn again
anyone home ??, seriously - any progress on this
cheers

[2019-01-31 09:48] michaeljquinn commented on #35
oops, sorry, just saw the update, thanks

[2019-01-31 10:00] michaeljquinn commented on #35
got 1.3.2 now all working good - close this
thanks heaps

[2019-01-31 10:00] #35 closed

[2019-02-03 03:10] michaeljquinn opened #40 "ETL Tool(v1.3.2)_has blank screen with latest Neo4j Desktop(v1.1.14)"
Latest ETL tool (v1.3.2) which fixed the blank screen on selection of non built in driver
(issue - https://github.com/neo4j-contrib/neo4j-etl/issues/35) was fixed and verified by me against the previous version of Neo4j desktop

On upgrading to latest desktop (V1.1.14), on launching of ETL tool, i get an activity screen(spinning icon, grey screen) and on completion (developer tools does not indica

[2019-02-03 09:33] jexp commented on #40
If you need to you can downgrade desktop to 1.1.13 by using the download link and changing the version back.

from here:
https://neo4j.com/download-center/

Still investigating what the issue is.

[2019-02-04 09:04] michaeljquinn commented on #40
thanks. all good, can verify that under Desktop 1.1.13 all works fine with ETL 1.3.2

[2019-02-04 09:19] michaeljquinn opened #41 "ETL Mapping fails when using Windows Authentication to MS SQL Server"
ETL 1.3.2
Neo4J desktop 1.1.13

I am connecting ETL 1.3.2 to a microsoft SQL Server using Windows Authentication.

I have used setup according to http://www.microsoft.com/en-us/download/details.aspx?displaylang=en&id=11774 .
with the appropriate dll and adding the directory to java.lang.path (ie windows path on desktop)

Left the username and password blank, and appended "integratedSecurity=true"

[2019-02-04 09:34] jexp commented on #40
I also just pushed out 1.3.3 with a workaround for this Desktop bug

[2019-02-04 09:34] jexp commented on #40
Thanks again for reporting Michael

[2019-02-05 09:04] michaeljquinn commented on #40
wow, super responsive, thanks heaps jexp

[2019-02-05 20:13] jexp commented on #40
Unfortunately it turned out there is a 2nd issue, related to the security settings.
Desktop has much tighter security now but now way for apps to express their needs so you'd have to set it manually. To make it work.

![etl-tool-security](https://user-images.githubusercontent.com/67427/52301506-d9559100-298a-11e9-9eea-d309e2ee5fc6.jpg)

[2019-02-12 15:05] M1sterPl0w opened #42 "Import data from mssql drills down CommandFailedException"
Hello,

I used the GUI Neo4j ETL Tool and installed it like the documentation said.
Everything went well (connection, mapping etc etc) but when I try to import the data in the import step of the Neo4j ETL Tool a CommandFailedException is thrown. It drills down the following:

COMMAND: java -cp "C:\Users\jjonkman\.Neo4jDesktop\graphApps\neo4j-etl-ui/dist/neo4j-etl.jar;C:\Program Files\Microsoft JDB

[2019-02-17 07:17] kuczera opened #43 "ETL bulk Import fails wih "too many errors" but online import works without password"
Bulk import says:
Error in input data
Caused by:Too many bad entries 1004, where last one was:

when i change to online import with disabled password it works.

[2019-02-17 12:03] jexp commented on #43
Can you sharemore from the logfile?

Do you have a lot of duplicate entries or join tables with missing FK?

[2019-02-17 12:45] kuczera commented on #43
Ok, here is the log of the bulk import:
`[...]
There were bad entries which were skipped and logged into /home/kuczera/.config/Neo4j Desktop/Application/neo4jDatabases/database-2c5d6b38-aa39-43ab-bda8-04794038cd5f/installation-3.5.3/data/databases/graph.db/bad.log', Stderr: 'WARNING: neo4j-import is deprecated and support for it will be removed in a future
version of Neo4j; please use neo4j-admin

[2019-02-17 12:47] kuczera commented on #43
And here th log of the live import:

`Export time: 5.876 (s)
- Creating Neo4j store from CSV...
- Direct driver instance 16868310 created for server address localhost:7687
- Closing connection pool towards localhost:7687
Unable to authenticate to Neo4j instance on bolt://localhost:7687
with the following username null
- Command failed due to error (CommandFailedException: Command failed [Command:

[2019-02-18 15:39] oneplanetliving commented on #28
Hi edward3132,
I got exaclty the same issue, did you find a solution ?
Thanks

[2019-02-18 18:27] albertodelazzari commented on #43
Hi @kuczera, are you using the ETL as a Neo4j Desktop Application?

According to the log of the bulk import, it seems that the error is caused by missing references when building the relationships (refers to a non-existing node)

According to the log of the online import, it seems that the credentials are not injected correctly.
By the way, if you have to import a lot of data it would be better to

[2019-02-21 01:23] vadimio commented on #28
I am on Ubuntu 16.04, postgres/cocroachDB and have the same issue

[2019-02-25 19:43] jexp commented on #28
@albertodelazzari could you have a look?

[2019-02-25 21:07] vadimio commented on #28
Just to be more precise if someone is going to debug it:
os: Ubuntu 16.04, 64 bit. Linux ucd 4.4.0-142-generic #168-Ubuntu
neo4j: running in docker with locally mapped folders, version 3.5.3, community edition
neo4j-desktop: 1.1.15

Log (replaced user name and password with "xxxxx" for security reasons)
COMMAND: java -cp "/home/xxxx/.config/Neo4j Desktop/Application/graphApps/neo4j-etl-ui/dist/neo

[2019-02-26 01:08] jexp commented on #28
Are you using a local or remote Neo4j database?

[2019-02-26 04:53] vadimio commented on #28
I am running docker image of latest neo4j in a VirtualBox. So, it would be
behaving as a remote neo4j

On Mon, Feb 25, 2019 at 5:08 PM Michael Hunger <notifications@github.com>
wrote:

[2019-02-26 07:32] jexp commented on #28
Sorry the ETL tool currently only works with "local" desktop databases, as desktop doesn't provide a local directory for remote db's. We will address that in one of the next releases.

[2019-02-28 15:37] aaron-newman opened #44 "Nothing happens when clicking "Test and Save Connection""
Using Neo4j Desktop 1.1.16 on Mac OS X Mojave, with ETL Tool 1.3.6. Allow background process is checked in app permissions. Attempted to create JDBC Connection to local mysql instance. Clicked on "Test and Save Connection" and got no response. (Same problem even if background process is NOT checked in app permissions.) Looked at console under developer tools and got this:

Desktop.0c0dadb70a857df9

[2019-03-05 17:03] impala-romain commented on #44
Same bug here, with Neo4J Desktop 1.1.17, ETL Tool 1.3.6 and Ubuntu 18.04.2 LTS, with existing postgresql instance (testing on other ETL tools and working). No error/validation message at all.

[2019-03-07 15:43] benjaminsims commented on #44
Exact same problem for me, OS X Mojave, ETL 1.3.6, Desktop 1.1.17.

[2019-03-11 15:36] uwegeercken commented on #44
Same thing here with local MySQL db. Desktop 1.1.17 and ETL 1.3.6 running on Fedora 29

[2019-03-11 19:48] jexp commented on #44
Hi All,

I'm really sorry for the delay.
Seems to be a Neo4j Desktop API issue, we're investigating.

[2019-03-14 17:10] skemp456 commented on #44
Same problem here using Desktop 1.1.17 on Windows 10. ETL 1.3.6.
Thanks for any help!

[2019-03-29 18:54] stuartlaurie opened #45 "List schemas found"
When running ETL and getting the following - it would be useful to list the schemas found so it is easier to debug why it doesn't match

- Skipping reading import options from file because file [] doesn't exist.
- Creating RDBMS to CSV mappings...
- Using database plugin for
- Crawling schemas
- Retrieving all schemas
- Retrieving all catalogs
- Processed 14 rows for <retrieveAllSchemas>
- Retriev

[2019-04-03 19:48] soneymathew opened #46 "Possible to avoid the LoadCSV step?"
Hi @jexp / maintainers ,
I am trying to online import a Database which contains JSON values in it's columns,
I notice that when it get's loaded into CSV it breaks the CSV format.

Can we modify this to use https://neo4j-contrib.github.io/neo4j-apoc-procedures/#load-jdbc to overcome this?

I was able to leverage this strategy by handrolled cypher successfully. it would be great if this strategy can

[2019-04-06 21:44] soneymathew commented on #46
I tested the following strategy for a table with ~1 million rows to complete the load in ~46 seconds

set the DB_URL so that it can be refered later
[code]

not sure if this matters but I set the constraints required for the Node first
[code]

use apoc procedures to load the data in parallel with a batchsize of 10k
[code]

[2019-04-07 09:16] jexp commented on #46
it's odd the csv export / import should handle json correctly. I have a deeper look at the issue

What is the data type in your relational database?

Yep apoc.periodic.iterate rocks it :)

[2019-04-07 09:17] jexp commented on #46
It's actually an interesting proposal. Let's discuss this.

So instead of doing the transformation + batching (optionally parallel) in Java, we would do it in apoc instead.

[2019-04-07 23:14] soneymathew commented on #46
My initial exploration was to manually do what the ETL tool is facilitating currently.
but as I went thru multiple stages I learned that the APOC approach can be amazingly performant and skips the translation overhead of CSV creation and loading.

my sample dataset is a postgres schema containing a mix of the following
- normal tables/columns with column values as database supported base data type

[2019-04-08 23:29] soneymathew opened #47 "Ignoring unknown data types"
Hello maintainers,

I noticed that while importing a postgres database with some columns having type `oid` and `tsvector`
the mapping step was ignoring them, probably because there is no mapping to these datatypes

I would suggest to have default mappings for unknown datatypes or a choice to ignore specific datatypes

[2019-04-09 09:30] mroiter-larus commented on #46
@soneymathew Can you help me to reproduce this issue? For example can you told me the sample database that you use?

Thank you

[2019-04-10 08:03] soneymathew commented on #46
@mroiter-larus sorry I won't be able to share my database.
you could probably reproduce this by storing a big pretty printed json file content in a text column
Example: The mapping json generated is a good candidate for test data.

[2019-04-10 08:10] mroiter-larus commented on #46
@soneymathew I had a test case but it didn't reproduce the error. Anyway i'll try your suggestion.

[2019-04-10 11:17] soneymathew commented on #46
@mroiter-larus is the important that you need to reproduce it?

Users could be having a bad data in database with non-printable characters or any multiline content that can break your CSV. There is a possible risk to data loss along the translations steps DB -> CSV -> LOADCSV step.

I raised this issue to explore if `neo4j-etl` can be updated to bypass the CSV generation step all together.

I beli

[2019-04-24 03:04] c123853648 opened #48 "Import data from mysql by Command Line Tool stop on Closing connection pool towards localhost:7687"
OS:Windows 7
When I use command
`neo4j-etl.cmd export --rdbms:url jdbc:mysql://localhost:3306/dbtest?serverTimezone=UTC --force --debug --neo4j:user neo4j --neo4j:password admin --rdbms:user root --rdbms:password root --destination D:/neo4j-community-3.5.4/data/databases/graph1.db/ --import-tool D:/neo4j-community-3.5.4/bin --csv-directory D:/neo4j-community-3.5.4/import`
the programs stop on
`信息:

[2019-04-30 10:06] BehzadV opened #49 "Error when trying to generate mapping from PostgreSQL"
Hey,
I am trying to use Neo4j ETL to import some data from PostgreSQL. ETL is installed as part of Neo4j Desktop and it successfully connects to PostgreSQL. But when it attempts to generate the mapping, it produces an error and the following logs:

`COMMAND: java -cp "/home/{USERNAME}/.config/Neo4j Desktop/Application/graphApps/neo4j-etl-ui/dist/neo4j-etl.jar" org.neo4j.etl.NeoIntegrationCli gener

[2019-05-01 07:14] jexp commented on #49
Do you use a local or remote neo4j database?

For the remote this issue will be fixed in the next release

[2019-05-01 23:18] BehzadV commented on #49
Remote. And thank you.

[2019-05-03 18:09] jrogers512 opened #50 "Error: Could not find or load main class org.neo4j.etl.NeoIntegrationCli"
I have installed neo4j-etl-cli v1.3.1, but am unable to get it to execute.  Other java related things (like `neo4j console` seem to work fine)

`$ pwd
/usr/local/Cellar/neo4j/3.5.3/libexec

$ uname -a
Darwin TWC-T86VGH03Q 17.7.0 Darwin Kernel Version 17.7.0: Thu Dec 20 21:47:19 PST 2018; root:xnu-4570.71.22~1/RELEASE_X86_64 x86_64 i386 MacBookPro13,3 Darwin

$ echo $JAVA_HOME
/Library/Java/JavaVir

[2019-05-08 06:11] yinshuai1991 opened #51 "When I used the etl tool to import to neo4j, Chinese appeared garbled and I look forward to your answer."
I guess the encoding problem is imported into the csv file, but I don't know how to modify it.
![QQ图片20190508140744](https://user-images.githubusercontent.com/39253273/57353398-ed33ad80-719a-11e9-8071-d68e4b617c8d.png)

[2019-05-08 10:17] yinshuai1991 commented on #51
I solved this: open the csv generated by neo4j etl with Notepad, modify the encoding to utf8. Then execute load-csv.cypher to re-import.

[2019-05-30 01:36] SuperLat commented on #51
知道ETL工具怎么设置默认的编码嘛，etl生成的csv默认不是utf8导入时候报错提示乱码，如果可以设置生成csv默认编码就好了。

[2019-05-30 08:57] SuperLat opened #52 "Please upgrade Neo4j ETL to support data with Chinese character"
@jexp
Hi. I am using Neo4j ETL to immigrate data ,whicn contains Chinese character, from oracle to Neo4j.  Two issues encounted , and hope you can upgrade the ETL tool to slove these two issues.
Issue 1：If using ETL tool to immigrate data with Chinese character, the UI display with messy code. My solution is to modify csv in UTF-8 format manually. Thus my expection is add a UI option to support to

[2019-05-31 13:00] jexp commented on #51
Thanks a lot!
Glad changing the encoding worked, yes we currently expect everything in UTF-8.

[2019-06-03 01:34] SuperLat commented on #51
Looking forward to a new release that supports utf8

[2019-06-18 07:14] AshaSanaKesavulu opened #53 "failed due to error (SQLException: No matching schemas found)"
Neo4j ETL Tool - 1.3.7
  Neo4j browser version - 3.2.20
  Neo4j version - 3.5.6
  i am trying to import MSSQL database data into neo4j using  ETL Tool.
  Here is the following link [](https://neo4j.com/developer/neo4j-etl/) .

The logs i am getting here is

**COMMAND: java -cp "C:\Users\User\.Neo4jDesktop\graphApps\_global\neo4j-etl-ui/dist/neo4j-etl.jar;D:\Sana\mssql-jdbc-7.0.0.jre8.jar" org.neo4

[2019-06-18 08:41] jexp commented on #53
Did you spell the schema correctly?
I'm not sure if sqlserver requires uppercase schema names.
can you paste the: commant from `java ..` into the `Terminal` tab of your desktop  and add the --debug flag?

[2019-06-26 16:01] aonamrata commented on #22
Hi @albertodelazzari What version of neo4j-etl would that be? I am using 1.3.1 and still get this error

[2019-07-02 16:15] aonamrata opened #54 "Is there a way to strip some chars before loading"
This is continuation from https://github.com/neo4j-contrib/neo4j-etl/issues/22
I have the latest version and still get this error. So I tried doing this in mapping.json file

[code]

and run it from cli using cmd

[code]

but that did not work. It did not insert any nodes to DB.

[2019-07-19 09:04] acmonde commented on #44
You can check if the file "...\.Neo4jDesktop\distributions\java\zulu8.21.0.1-jdk8.0.131\bin" exists, if not, unzip the file "zulu8.21.0.1-jdk8.0.131-win_x64" to replace it.

[2019-07-22 15:30] bgreenlee commented on #49
Any update on when we can expect a fix for this? Still seeing this with 1.3.7

[2019-08-25 21:27] agatlin commented on #53
When defining the schema name, the Neo4j ETL tool expects the database name as part of the fully qualified schema name. The Neo4j ETL tool doesn't quite make this clear.

 If your database is `PlayAblo_B2C` and you are using the default `dbo` schema, then you would use `PlayAblo_B2C.dbo` for the schema name. If you are using a schema called `PlayAbloForSchool`, then the fully qualified schema name

[2019-08-26 10:17] jexp commented on #53
Thanks a lot for the clarification, perhaps this is very MSSQL Server specific,
We try to think how to make that more feasible.

As the database name is already given, it should do that behind the scenes in the JDBC driver but seems not to.

[2019-08-26 10:19] jexp commented on #53
@mroiter-larus is there anything we can do too prevent this from happening with the MSQL JDBC driver for schema crawler?

We should also list / compare schemas to see if there are possibly matching ones and perhaps suggest them if we can't find the exact one?

Seems also be a difference with relative schema and absolute schema names.

[2019-08-29 15:28] mroiter-larus commented on #53
@jexp What we can do is to check the `--schema` attribute value before invoking the mapping generation step, in order to verify if it is specified in the absolute way. If it is not, we can change it behind the scene into the absolute way. In doing so the user could continue to evaluate the "Schema" field in the relative way.

Anyway this would be a temporary solution, because, about listing schema

[2019-09-11 08:50] martinkoch-geniebelt commented on #49
Just tried it now and google brought me here, so +1

[2019-09-11 09:34] jexp commented on #49
Soon!
Sorry, we were a bit understaffed here in the last few months.

[2019-09-11 11:03] martinkoch-geniebelt commented on #49
Btw, as a workaround (on mac), manually generating the directory `/undefined/import/` seems to let the process continue.

[2019-09-14 17:47] dennlinger commented on #6
Still encountering this issue with Postgres 11 and Neo4j 3.5.9

[2019-09-14 19:36] conker84 commented on #52
Duplicate of #51

[2019-09-14 19:36] #52 closed

[2019-09-23 09:10] teuno opened #55 "ETL-tool has does not load version 1.4.1"
With ETL tool 1.4.1 and browser 3.3.20 the ETL tool does not load. I tryed it in a new project and an old project. No difference. The console looks like this.
![image](https://user-images.githubusercontent.com/25672590/65413650-3014bb80-ddf2-11e9-96b1-0edd4fca263e.png)

Any ideas how this happens?

[2019-09-23 09:55] jexp commented on #55
But it updated to 1.4.1?

Do you have projects with databases already in your desktop?

[2019-09-23 09:58] teuno commented on #55
Yes, but there it did not work either, so I tryed it in a new project.

[2019-09-24 11:48] jexp commented on #55
Which version of Desktop do you use? I have 1.2.1

[2019-09-24 12:02] teuno commented on #55
I have the same version.

[2019-09-24 12:08] teuno commented on #55
I found my problem. Apparently an java_options environment variable ( -Xmx512M) I did not think would do anything made sure I the gui didn't load.

[2019-09-24 12:11] #55 closed

[2019-09-26 18:09] kiavalos opened #56 "Error when trying to generate mapping from PostgreSQL "Save mapping failed""
I am trying to use Neo4j ETL (vs 1.4.1) to import some data from PostgreSQL(vs 4.13). ETL is installed as part of Neo4j Desktop and it successfully connects to PostgreSQL. But when it attempts to generate the mapping, it produces an error: "Save mapping failed".

Any advice?

![Save mapping failed](https://user-images.githubusercontent.com/32520937/65713426-c9e0a080-e05e-11e9-84e9-64d6c3679b02.PNG

[2019-10-01 10:42] conker84 commented on #56
@kiavalos are you working with remote or local db?
Can you share the logs?

[2019-10-02 00:12] smatovski commented on #56
I have the same issue but with MySQL as the RDBMS. How do I pull logs?

[2019-10-02 22:53] jexp commented on #56
the desktop log files you can see here:

https://github.com/neo4j-apps/neo4j-desktop/wiki/FAQ#where-can-i-find-log-files
and fo the app:

- enable developer mode in desktop settings . (at the bottom)
- reload the graph app
- then you should have a button for "Developer Tools"
- and copy the content of teh javascript console from there

thanks a lot

[2019-10-03 01:00] smatovski commented on #56
[ETL Log.log](https://github.com/neo4j-contrib/neo4j-etl/files/3684025/ETL.Log.log)
[debug.log](https://github.com/neo4j-contrib/neo4j-etl/files/3684047/debug.log)
[neo4j.log](https://github.com/neo4j-contrib/neo4j-etl/files/3684048/neo4j.log)
Here are my logs

[2019-10-03 16:44] icsa commented on #56
The tool generates the following command line option:

--output-mapping-file "/..._mapping.json"

I.E. The tool is attempting to write the mapping to the root of the file system - for which it does not have permission. That is why the mapping cannot be saved.

Perhaps an environment variable was not initialized as the parent directory of the mapping file?

[2019-10-04 10:34] conker84 commented on #56
Hi folks,
can you try with this?
https://www.dropbox.com/s/wfk02zpo0ln6nq6/neo4j-etl-ui-1.4.0-release.tar.gz?dl=0

In order to install it provide the path where you downloaded with the `file://` prefix
<img width="604" alt="Schermata 2019-10-04 alle 12 31 48" src="https://user-images.githubusercontent.com/1833335/66201265-400a8600-e6a3-11e9-9a0f-56442fe03920.png">

Thanks a lot

[2019-10-04 14:34] icsa commented on #56
Hi Andrea,
The DropBox link to v 1.4.0 of the ETL UI is broken.  Can you fix it so that we may download version 1.4.0?
Kevin
    On Friday, October 4, 2019, 03:34:41 a.m. PDT, Andrea Santurbano <notifications@github.com> wrote:

Hi folks,
can you try with this?
https://www.dropbox.com/s/wfk02zpo0ln6nq6/neo4j-etl-ui-1.4.0-release.tar.gz?dl=0

In order to install it provide the path where you downlo

[2019-10-04 14:39] icsa commented on #56
How does one install a specific version (e.g. 1.4.0) of Neo4J ETL UI?

[2019-10-05 09:39] conker84 commented on #56
@icsa If you tried via email, yes the link generated by Dropbox was broken so I updated the post with a good one :)
https://www.dropbox.com/s/ka5rf3j594jql3h/neo4j-etl-ui-1.4.0-release.tar.gz?dl=0
About the installation I there is an image into my comment that I guess you are not able to see via email, so please look into the web page :)
Thanks a lot

[2019-10-07 19:10] #56 closed

[2019-10-08 15:41] kjrain12 commented on #49
Is this still an outstanding issue? I'm using Neo4j ETL 1.4.1 on Windows 10. If it still is an outstanding issue, anyone have a workaround for Windows?

[2019-10-08 18:05] jexp commented on #49
Try 1.4.2

[2019-10-08 23:03] kbpool opened #57 "neo4j ETL will not save data"
@conker84
[debug.log](https://github.com/neo4j-contrib/neo4j-etl/files/3704852/debug.log)
[ELT Tool Logs 2019-10-08.txt](https://github.com/neo4j-contrib/neo4j-etl/files/3704853/ELT.Tool.Logs.2019-10-08.txt)

Here are the logs when attempting to save a small database using 1.4.0 & 1.4.2.  The problems began 2019-09-23 with the latest release of the desktop and desktop tools. Any help resolving thi

[2019-10-08 23:17] conker84 commented on #57
@kbpool can you also share you neo4j.conf?
what do you mean for a small dataset?
Is it publicly available?

[2019-10-08 23:31] kbpool commented on #57
@conker84 I am unsure what is meant by neo4j.conf? What specifically can I provide to help out. The data set is 136 MB. It is not publicly available.

[2019-10-09 08:02] conker84 commented on #57
Can you execute the following query into the neo4j browser and post the result?

`CALL db.constraints`

[2019-10-09 14:23] conker84 commented on #57
can you share the generated files?
* `C:\Users\keith\AppData\Local\Temp\mssql_AllStar_Demo_2_AllStar_Demo_2.dbo_mapping.json`
* `C:\Users\keith\AppData\Local\Temp/import-tool-options.json`
* the csv into `C:\Users\keith\AppData\Local\Temp`

please send me them via email: andrea.santurbano[at]larus-ba.it

[2019-10-09 15:24] kbpool commented on #57
@conker84
Neo4j conf
local db - Neo4j 3.5.9
desktop version 1.2.1
Neo4j ETL Tool vers 1.4.0 & 1.4.2
OS: Windows 10 Home version 17134.1006

Let me know if anything is missing. Thanks.

[2019-10-09 15:48] kbpool commented on #57
@conker84

description
--
"CONSTRAINT ON ( master:Master ) ASSERT master.jobIdentifier IS UNIQUE"
"CONSTRAINT ON ( run:Run ) ASSERT run._row_id_ IS UNIQUE"
"CONSTRAINT ON ( rundetail:RunDetail ) ASSERT rundetail._row_id_ IS UNIQUE"

Sending file via email. Thanks.

[2019-10-09 15:50] kbpool commented on #57
@conker84

CALL db.constraints

description
--
"CONSTRAINT ON ( attribute:Attribute ) ASSERT attribute.attributeSk IS UNIQUE"
"CONSTRAINT ON ( consumermaster:ConsumerMaster ) ASSERT consumermaster.uuid IS UNIQUE"
"CONSTRAINT ON ( datedim:DateDim ) ASSERT datedim.dateKey IS UNIQUE"
"CONSTRAINT ON ( dimtimeofday:DimTimeOfDay ) ASSERT dimtimeofday.timeKey IS UNIQUE"
"CONSTRAINT ON ( dmamarketmaster:D

[2019-10-09 18:44] kbpool commented on #57
@conker84 Here is the configuration from Settings for the active DB AllStar_Demo_2.

[Neo4j Config (Settings).txt](https://github.com/neo4j-contrib/neo4j-etl/files/3708937/Neo4j.Config.Settings.txt)

[2019-10-09 18:51] icsa commented on #57
@kbpool Can you point me to the source code and git logs for the ETL tool?

[2019-10-09 20:06] kbpool commented on #57
@conker84 you might be able to provide this?

[2019-10-14 13:29] kjrain12 commented on #49
Okay, well that metadata mapping file is now being created - but it is always empty (in other, words just one empty set of brackets). I've set the schema to multiple different ones on a production machine. It has dB2 running on it - but unfortunately results don't seem to be getting generated. It does not appear that I am receiving any error messages.

[2019-10-24 08:53] sarmbruster opened #58 "transactional import from a postgres DB shows `Command failed due to error (IndexOutOfBoundsException: Index: 14, Size: 14). Rerun with --debug flag for detailed diagnostic information.`"
Trying to import a postgres db with non-customized mappings. The dataset can be made available via private email for diagnosis.

Upon import using "Online import BATCH" I'm getting:

[code]

Using "Online import LOAD CSV" I'm getting
[code]

[2019-10-30 11:27] raghubr2065 opened #59 "Command failed due to error (IndexOutOfBoundsException: Index: 18, Size: 18)"
COMMAND: java -cp "C:\Users\raghunath.ramaiah\.Neo4jDesktop\graphApps\_global\neo4j-etl-ui/dist/neo4j-etl.jar" org.neo4j.etl.NeoIntegrationCli export --mapping-file "C:\Users\RAGHUN~1.RAM\AppData\Local\Temp/mysql_redshift_test_redshift_test_mapping.json" --rdbms:password "Anitha26!@#" --rdbms:user "root" --rdbms:url "jdbc:mysql://localhost:3306/redshift_test?autoReconnect=true&useSSL=false&useCurs

[2019-10-30 12:11] conker84 commented on #59
Hi @raghubr2065 can you share your dataset?

[2019-10-31 10:47] conker84 commented on #59
@raghubr2065 ping

[2019-10-31 16:34] conker84 commented on #58
@sarmbruster gave me positive feedback with the build of this PR:
https://github.com/neo-technology/neo4j-etl/pull/241

so I'm closing this.

[2019-11-02 10:20] conker84 commented on #59
@raghubr2065 ping

[2019-11-07 20:18] kjrain12 opened #60 "Mapping from remote DB2 database to a remote Neo4j database returns no results"
I am running the Neo4j Desktop v1.2.1 and Neo4j ETL Tool v1.4.2 on a Windows 10 machine. I have a remote instance of Neo4j running on a Linux machine (Neo4j v3.5.6) and I have a dB2 database running on an IBM i machine.

I am using a JDBC to connect to the dB2 database and 'Test Connection' results in success (though it does appear to register my username as the schema, even though I am specifying

[2019-11-07 21:41] davidmeza1 opened #61 "Relationships not created in MYSQL"
I am importing a MySQL DB. When mapping, I get the nodes, however none of the relationships are created between the nodes. The relationships (foreign keys) are set up in the MySQL db.
Also, if I go ahead a try to load the nodes using Batch import, I get the following error:
`Creating Neo4j store from CSV...
- Direct driver instance 1406014249 created for server address localhost:7687
- Start Impor

[2019-11-11 11:42] conker84 commented on #61
Hi @davidmeza1 thanks a lot for reaching us,
can you try with the following jar?
[neo4j-etl-ui-1.4.2-release.tar.gz](https://github.com/neo4j-contrib/neo4j-etl/files/3831098/neo4j-etl-ui-1.4.2-release.tar.gz)
In order to install it provide the path where you downloaded with the file:// prefix

<img width="604" alt="graphappinstall" src="https://user-images.githubusercontent.com/1833335/68584382-b8

[2019-11-13 17:25] davidmeza1 commented on #61
Sorry, Still not working.
Hers is the data soource I am using, https://www.onetcenter.org/database.html#all-files. I downloade the MySQL All Files.

[2019-11-14 08:58] conker84 commented on #61
Let me try, I'll be back asap

[2019-11-15 09:01] conker84 commented on #61
[neo4j-etl-ui-1.4.2-release.tar.gz](https://github.com/neo4j-contrib/neo4j-etl/files/3850624/neo4j-etl-ui-1.4.2-release.tar.gz)

Hi @davidmeza1 can you try with this jar?
Thanks a lot!

[2019-11-19 09:34] conker84 commented on #61
@davidmeza1 ping

[2019-11-25 19:45] smatovski opened #62 "Large PostgreSQL not showing for editing"
The database maps but when I click next all I get is a blank screen. PostgreSQL db has 472 tables so it pretty large.

[2019-11-26 00:45] jexp commented on #62
Can you share your logs or any messages from the JS console?

You can run the etl-tool after enabling "developer mode" in Neo4j Desktop settings (at the bottom)
Then you should have a button on top for "Developer Tools"
Please share any errors that occurr there.

Besides the 500 tables, how many FKs do you have? Any other odd indexes/constraints/types/constructs?
Would it be possible to share the

[2019-11-26 02:42] smatovski commented on #62
Consoles are not showing any errors. Attaching mapping log and postgresql backup file from pgAdmin.
[ETL_Log.txt](https://github.com/neo4j-contrib/neo4j-etl/files/3889673/ETL_Log.txt)
[schema.txt](https://github.com/neo4j-contrib/neo4j-etl/files/3889803/schema.txt)

[2019-11-26 02:42] #62 closed

[2019-12-02 14:24] conker84 commented on #61
@davidmeza1 ping :)

[2019-12-02 14:25] davidmeza1 commented on #61
Sorry, I have been on leave. I will look at it this week.

[2019-12-02 14:26] conker84 commented on #61
Cool thanks!

[2019-12-02 14:43] kjrain12 opened #63 "UX issue - 'Next' button not clickable after mapping from SQL Server"
This isn't a technical issue - rather it's a user-experience issue. In my case, this problem came to my attention after testing with an SQL server on a Windows 10 machine (Neo4j Desktop and ETL tool are also running on the same Windows 10 machine).

After the mapping process completes successfully, the 'Next' button is disabled and can't be clicked. It appears that all you have to do is select a t

[2019-12-08 14:36] ltw18 commented on #6
hi , did you solve it?
I got similar problem.

[2019-12-08 16:24] grubytolman commented on #6
Kind of, I changed "true" to 1 and "false" to 0 in csv files with external script and then imported without problem.
For bigger tables I wrote custom exporter and importer.

[2020-01-14 09:36] #63 closed

[2020-01-15 14:40] BrianKrohn opened #64 "MSSQL and JDBC driver"
I put the mssql jdbc driver in my C:\Program Files\Neo4j Desktop\resources\lib folder, but the ETL tool complains that "Connection failed. No suitable driver for the connection"

I am on Windows 10, using the ETL UI with Neo4j desktop, and the MS JDBC driver: https://www.microsoft.com/en-us/download/details.aspx?id=55539

I am using a MS SQL named instance.  My connection URL is:
jdbc:sqlserver://

[2020-01-17 09:47] conker84 commented on #64
Hi @BrianKrohn,
Do you selected the JDBC driver in the area highlighted in red?
<img width="1657" alt="Schermata 2020-01-17 alle 10 44 54" src="https://user-images.githubusercontent.com/1833335/72601867-8ca66400-3916-11ea-9b5f-9eaf73de7e75.png">

[2020-01-17 16:21] BrianKrohn commented on #64
I hadn't.  That did the trick.  Thanks.

[2020-01-17 16:21] #64 closed

[2020-01-24 12:21] sarmbruster opened #65 "ETL tool 1.3.1 doesn't work with Neo4j 4.0.0 in bolt mode"
Subject says it all :-)

[2020-01-24 12:31] jexp commented on #65
Also need to check import tool. I think they removed the `neo4j-import` and we need to switch to neo4j-admin import - where they also broke the CLI API in 4.0 vs. 3.x so we need version switches :(

But bolt mode should go first

[2020-02-06 21:29] JMHReif opened #66 "Official spec for the mappings.json file"
A user asked if we had an official spec for the format of the mappings.json file that’s created. Might be something helpful for users to know the layout so they can better adjust and edit it.
https://twitter.com/ta_o_zi/status/1224897034680881154

[2020-02-17 16:46] innerforce opened #67 "Neo4jETL 1.4.2 import runs forever?"
Neo4j desktop 1.2.4
Neo4j ETL1.4.2
Neo4j DB: 3.5.14, local instance
Source DB is postgres on a remote server.

batch import mode, all nodes and relations are kept as default by the wizard displayed.
our Postgres database size is small.

the system appears being hanged somewhere after 2020-02-17 15:51. the CPU fan of my macbook is keeping running loud though... please help, thank you :)

---the las

[2020-02-17 17:08] innerforce commented on #67
fyi, the neo4j ETL UI "see logs" displayed messages as below, "Creating relationships of type TASK" as the last logging and no news.
----
- Running ETL on Neo4j 3.5.14 - ENTERPRISE
- Exporting from RDBMS to CSV...
- CSV directory: /var/folders/_r/1j4mt0bd0ts6hbz_771v5ydxb064kl/T/csv-002
- Writing CSV headers for node NODE_fwrev2.pharostable_ae1f80fa-dfcf-4c53-8eb8-b17cb35f98c2
- Writing CSV header

[2020-02-18 13:53] conker84 commented on #67
[neo4j-etl-ui-1.4.2-release.tar.gz](https://github.com/neo4j-contrib/neo4j-etl/files/4219550/neo4j-etl-ui-1.4.2-release.tar.gz)

hi @innerforce can you please try with the file above?

In order to test it you must provide the path where the file it's placed with the `file://` prefix in the area highlighted in red:
<img width="1662" alt="Schermata 2020-02-13 alle 18 41 23" src="https://user-images.

[2020-02-18 16:44] innerforce commented on #67
thank you conker84,  i find the problem later. i have to shut down the neo4j db so that the etl tool will run further:)

[2020-02-19 10:07] conker84 commented on #67
Shutting down the db should not be part of the online import process. Are you sure that it worked?

[2020-02-20 12:03] innerforce commented on #67
yes it worked

[2020-02-20 12:07] innerforce commented on #67
i am now doing the same using admin import from commandline, reuse the ETL tool created csv files (as ETL tool does not work with neo4j4.0 and it is mentioned  not going to be supported in the future).

I got this error using admin import, any hints? why i am not allowed to have the same value for different columns in a csv?
---
unexpected error: Duplicate header entries found, first "mycolvaluein

[2020-03-05 06:45] Ram2929 opened #68 "Neo4j ETL Installation Issue"
Hi,

From the below mentioned version on, we no longer need an activation key to use the Neo4j ETL Tool in Neo4j Desktop, just install it by specifying: https://r.neo4j.com/neo4j-etl-app
in the Neo4j Desktop Graph Application install box.

However, when we tried to install this feature using the above step, we are getting below exception.

Also, tried below approaches, but results in same exceptio

[2020-03-21 16:00] willy20040711 commented on #58
Hi,
I also meet the same error.

`COMMAND: java -cp "/Users/labfnp/Library/Application Support/Neo4j Desktop/Application/graphApps/_global/neo4j-etl-ui/dist/neo4j-etl.jar" org.neo4j.etl.NeoIntegrationCli export --mapping-file "/var/folders/3y/qftl0mj544l7w8mnj0_ws2300000gn/T/mysql_2020restore_2020restore_mapping.json" --rdbms:password "54890971" --rdbms:user "root" --rdbms:url "jdbc:mysql://localh

[2020-03-21 17:27] jexp commented on #58
Can you try with version 1.5.0?

[2020-03-21 17:51] willy20040711 commented on #58
Actually, I had been installed Neo4j ETL today early by https://r.neo4j.com/neo4j-etl-app, but it still showed Neo4j ETL 1.4.2.
I just finished reinstall again, but it still shows Neo4j ETL 1.4.2.

[2020-03-21 18:08] willy20040711 commented on #58
It can work after I update the neo4j desktop to version 1.2.5, and I reinstall the neo4j ETL 1.5.0. Thank a lot! :)

[2020-03-21 20:57] jexp commented on #58
Super, thanks!

[2020-04-03 09:29] AnoYuan opened #69 "Cannot import data using neo4j-etl export"
My process is like this：
1.generate mapping.json
bash ./neo4j-etl generate-metadata-mapping --rdbms:url jdbc:mysql://mysql-ip:mysql-port --rdbms:user root --rdbms:password root --output-mapping-file "/var/lib/neo4j/mapping/test.json" --rdbms:schema test
2.Import data
bash ./neo4j-etl export --rdbms:url jdbc:mysql://mysql-ip:mysql-port/test --rdbms:user root --rdbms:password root --destination /var

[2020-04-28 15:18] jexp opened #70 "Problem connecting to MySQL 8.0.16"
Version Neo4J Desktop 1.2.7
MySQL 8.0.16
JDBC mysql-connector-java-8.0.20

[error.pdf](https://github.com/neo4j-contrib/neo4j-etl/files/4546770/error.pdf)

[2020-04-28 15:19] jexp commented on #67
Did you try it again with a current version 1.5.x of the etl-tool?

[2020-04-28 15:20] jexp commented on #65
Should be fixed in 1.5.x

[2020-04-28 15:20] #65 closed

[2020-06-22 09:55] jexp commented on #69
Can you stop your neo4j database before you start your ETL process?
Or use the **online** import mode.

[2020-06-22 09:56] #67 closed

[2020-06-24 10:52] RichardMacaskill opened #71 "Special characters in password fields are not escaped by mapping tool"
Using the ETL mapping tool, under Neo4j Desktop v4.0.4, when I click Start Mapping I get a 'Mapping Error' warning. Looking in the logs, I see the following has been invoked:
`java -cp "/Users/cas/Library/Application Support/Neo4j Desktop/Application/graphApps/_global/neo4j-etl-ui/dist/neo4j-etl.jar:/Users/cas/Library/Application Support/JetBrains/IntelliJIdea2020.1/jdbc-drivers/SQL Server/7.4.1/m

[2020-06-24 13:43] RichardMacaskill opened #72 "Incorrect schema parameter is passed to org.neo4j.etl.NeoIntegrationCli"
Using the ETL mapping tool, under Neo4j Desktop v4.0.4, when I click Start Mapping I get a 'Mapping Error' warning.

Looking in the logs, I see the error

- Command failed due to error (SQLException: No matching schemas found).

and  I see the following has been invoked:
`java -cp "/Users/cas/Library/Application Support/Neo4j Desktop/Application/graphApps/_global/neo4j-etl-ui/dist/neo4j-etl.jar:/U

[2020-07-02 10:56] conker84 commented on #72
Hi @RichardMacaskill we have `--rdbms:schema`, `-s`, `--schema` that are all synonyms. Is it possible that the schema `SalesLT` that you're looking for is not in the database `AdventureWorks`?
Looking at the schema:
https://i0.wp.com/improveandrepeat.com/wp-content/uploads/2018/12/AdvWorksOLTPSchemaVisio.png?ssl=1
you should leverage `Sales` and not `SalesLT`
Please lemme have your feedback!

[2020-07-02 13:17] conker84 commented on #71
Hi @RichardMacaskill I was able to complete the flow following the image of my env:

<img width="1648" alt="Schermata 2020-07-02 alle 14 56 13" src="https://user-images.githubusercontent.com/1833335/86361885-c379f780-bc74-11ea-9487-cfcc7b2e2f5e.png">

As you can see the password was a little bit complex.

[2020-07-02 14:59] RichardMacaskill commented on #72
Thanks @conker84 but I don't think that's the behaviour I'm seeing. MS distribute a lightweight version of AdventureWorks called AdventureWorksLT where the Sales schema is renamed to SalesLT; https://docs.microsoft.com/en-us/sql/samples/adventureworks-install-configure?view=sql-server-ver15&tabs=tsql

![image](https://user-images.githubusercontent.com/5419023/86360387-35990f00-bc6a-11ea-91dd-58b6a

[2020-07-08 12:07] conker84 commented on #72
Can you try by specifying the full schema `AdventureWorksLT.SalesLT`?

[2020-07-08 12:07] conker84 commented on #72
@RichardMacaskill please look at the comment above^^^

[2020-07-08 12:08] conker84 commented on #71
I'm closing this as it seems not a real bug. Feel free to reopen in case the problem will come back again

[2020-07-08 12:08] #71 closed

[2020-07-08 13:22] RichardMacaskill commented on #72
Hi @conker84 - `AdventureWorksLT.SalesLT` wouldn't refer to anything, the database is called `AdventureWorks` and the schema `SalesLT'.

However I tried the qualified parameter reference `AdventureWorks.SalesLT` and this completed successfully using both the ` --rdbms:schema` notation *AND* using the `--schema` notation.

If I *don't* qualify the schema name with the database name (as I normally w

[2020-07-09 09:01] conker84 commented on #72
@conker84 yes that was the name in **my** instance :)

We totally need to improve the docs because the full qualified name for the schema is needed only for MSSQL (it's a requirement of a library called SchemaCrawled that we use in order to standardize the DDL extraction from various RDBMS)

Thanks al lot!

[2020-07-30 18:22] zackgow commented on #72
Using the CLI, I also have to use `--rdbms:schema` and `--schema` to use the correct schema.

[2020-08-03 14:38] zackgow opened #73 "CLI ETL tool concats import path with csv-directory using Docker"
path in `docker-compose`:
[code]

running export tool:
[code]

yields:
[code]
Looking at the relevant portion of the generated Cypher script:
```LOAD CSV FROM 'file:////var/lib/neo4j/import/csv-001/public/```

I realize that the `file:///` refers to the set import directory. However, no matter what combination I do of import directory in docker-compose and csv-directory arg for the command line to

[2020-08-24 10:01] jexp commented on #73
You need to have the same import folder that is also mapped into your Docker image at `-v /path/to/import/folder/external:/import`

Or can you add a symlink?

Otherwise you could use the "remote/online" connection not the "local/offline one".

[2020-08-24 14:37] zackgow commented on #73
Thanks! We ended up going with your second suggestion.

[2020-08-24 14:37] #73 closed

[2020-09-17 20:21] merlinr68 commented on #41
Just want to note that 'integratedSecurity' is a very common connection type for databases at businesses, where username/passwords are a big security risk.

[2020-10-27 13:57] benmadin opened #75 "Error: Could not find or load main class org.neo4j.etl.rdbms.Support"
Hi,

Using:
Neo4j Desktop Version: 1.3.10
Neo4j Instance: 4.1.3-enterprise

running on Mac OSX Catalina

I have uninstalled and reinstalled but keep getting the error message above when I try to connect to a postgresql instance.

I'm not adequately java savvy to even know where that class should be, sorry, or how to replace it?

cheers

Ben

[2020-10-27 15:01] conker84 commented on #75
can you share a screenshot of the error?

[2020-10-27 18:49] J-Krush commented on #75
I am getting the same error.

Using:
- Neo4j Desktop Version: 1.3.9
- Neo4j Instance: 4.0.4-enterprise

Screenshot below:
<img width="1281" alt="Screen Shot 2020-10-27 at 2 48 09 PM" src="https://user-images.githubusercontent.com/22059594/97347636-73e2bb80-1863-11eb-83aa-f816ffaa8ada.png">

[2020-10-28 01:18] benmadin commented on #75
It won't help (I suspect) for me to post another screenshot, but I did find:

[code]

[2020-10-28 13:35] mroiter-larus commented on #75
@benmadin @J-Krush

Thanks for reporting this issue.
We have noticed that when downgrading to a previous version of Neo4j Desktop (1.3.4) this problem does not occur.
We are still investigating.
In the meantime, could you please downgrade to Neo4j Desktop 1.3.4? You can download it [here](https://neo4j.com/download-center/#desktop)

Thanks!

Mauro

[2020-10-28 14:47] J-Krush commented on #75
Thanks a lot for the reply @mroiter-larus. I can confirm that the downgrade to Neo4j Desktop 1.3.4 works.

[2020-10-29 20:26] ShemRuDev commented on #75
Greeting Great Graph People ^_^
Just another +1 here.
Same on **Windows 10 Pro.**
And same workaround with v.1.3.4 Neo4j Desktop works perfectly

Cheers,
Denis

[2020-11-02 16:48] agfagerbakk commented on #75
It's the same for Ubuntu 20.04!

Anton

[2020-11-05 13:42] mroiter-larus commented on #75
Hi @benmadin @J-Krush @agfagerbakk,

The attached package should solve this issue.
Could you please try it with the latest Neo4j Desktop release and let us know if everything works as expected?

Thanks in advance!

Mauro

[neo4j-etl-ui-1.5.0-release.tar.gz](https://github.com/neo4j-contrib/neo4j-etl/files/5494702/neo4j-etl-ui-1.5.0-release.tar.gz)

[2020-11-17 08:28] jonaswascheroh commented on #75
I have just updated to the latest Desktop release 1.3.11 but I still get the same error.

Jonas

[2020-11-17 09:17] mroiter-larus commented on #75
@jonaswascheroh We have not yet released the ETL tool fixed version. In the meantime, could you please install the ETL tool version i shared [here](https://github.com/neo4j-contrib/neo4j-etl/issues/75#issuecomment-722385644)?

Thanks,

Mauro

[2020-11-17 09:43] jonaswascheroh commented on #75
@mroiter-larus I wasn't quite sure how to install it. I thought I would have to enter the file path to the package.json to install it but it seems to crash the application.

[2020-11-17 10:46] jonaswascheroh commented on #75
@mroiter-larus Yes it worked.

Thanks!
Jonas

[2020-11-17 11:21] jonaswascheroh commented on #75
@mroiter-larus Not sure if I should rather open a new issue but with the package you provided it seems that no relationships are created.
[code]
Do you have any idea what this means?

Jonas

[2020-11-17 16:20] conker84 commented on #75
@conker84 @jonaswascheroh can you open a new issue with the details of your dataset if it's possible?

[2020-11-21 05:46] ShunyangLi commented on #75
Hi, I update the desk image and updated etl tools, but it still can not working/

[2020-11-23 08:11] mroiter-larus commented on #75
@ShunyangLi Did you use the released version of the ETL tool or the self-builded temporary package provided [here](https://github.com/neo4j-contrib/neo4j-etl/issues/75#issuecomment-722385644)?

Thanks,

Mauro

[2020-11-25 11:48] #75 closed

[2020-11-30 19:15] masoudzayyani commented on #75
Hi
I have the same error and downloaded this package but I don't know what should I do after downloading it?

[2020-12-01 05:05] benmadin commented on #75
Hi there,

thank you for your work on this. The process seemed to work much better
(connection and mapping, no request for support library...until I pressed
the IMPORT DATA button. This is the message I received trying direct import
from SQL:

COMMAND: java -cp "/Users/********/Library/Application Support/Neo4j
Desktop/Application/graphApps/_global/neo4j-etl-ui-1-5-0-release/dist/neo4j-etl.jar"
or

[2021-01-18 17:29] harryab1234 opened #76 "Mapping error when host contains backslash"
My host for the JDBC connection contains a backslash - Test & Save works in the GUI but throws up an illegal character error when trying to add mapping.

I've tried it in the CLI with \\ and it still gives the same error

[2021-01-31 17:34] beslu opened #77 "Neo4j ETL tool struggles with large datamodels"
Hi, I have tried to use the ETL tool (1.5.1) to create a mapping to our legacy system running on Oracle db.
The seems to be that the ETL tool tries to analyze every table and relations/constraints in the database that has 800+ tables and countless constraints.

The analyze process times runsfor a long time then produce no tables or relations.result. I think it would be sensible to break up the ana

[2021-02-05 08:03] geoHeil opened #78 "SQLITE driver"
How can I use a SQLite database with the neo4j-ETL tool?

When using JDBC type and specifying a valid SQLite JDBC connection string testing the connection fails as a driver is not found.

[2021-02-05 10:29] conker84 commented on #78
hi @geoHeil are you using a SQLite JDBC driver?

[2021-02-08 06:56] geoHeil commented on #78
I was using the SQLite JBC URL which works fine in i.e a SQL tool such as datagrip. But I did not figure out how to properly specify an additional JDBC driver for neo4j-etl.

[2021-02-11 16:19] romandogadin commented on #53
I know this is an old thread, but figured I would share that I was able resolve the mapping issue by removing the schema completely from the connection. But I have only a single [dbo] schema in the db, not sure what would happen if there are multiple.

Adding the fully qualified schema name, such as [dbname].[dbo], didn't help in my case.

[2021-03-24 17:03] bbmac-ds commented on #40
I still get the blank screen. I have tried everything. Does it have something to do with the JVM?

[2021-03-24 17:33] conker84 commented on #40
Hi @bbmac-ds can you please share the Neo4j Desktop Version? I just tried with the last one and it works properly

[2021-03-24 17:42] bbmac-ds commented on #40
I have the latest version of desktop as of today. I think it is a jvm issue.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Andrea Santurbano ***@***.***>
Sent: Wednesday, March 24, 2021 11:34:11 AM
To: neo4j-contrib/neo4j-etl ***@***.***>
Cc: Bruce MacArthur ***@***.***>; Mention ***@***.***>
Subject: Re: [neo4j-contrib/neo4j-etl] ETL Tool(v1.3.2)_has blank

[2021-03-24 17:56] jexp commented on #40
but the jvm is bundled with desktop there is no variance across installations.

Best would be to share the desktop logs (accessible from the help menu)

[2021-03-24 19:19] bbmac-ds commented on #40
[query.log](https://github.com/neo4j-contrib/neo4j-etl/files/6199894/query.log)
[security.log](https://github.com/neo4j-contrib/neo4j-etl/files/6199896/security.log)
[debug.log](https://github.com/neo4j-contrib/neo4j-etl/files/6199897/debug.log)
[neo4j.log](https://github.com/neo4j-contrib/neo4j-etl/files/6199898/neo4j.log)

[2021-03-24 19:22] bbmac-ds commented on #40
Desktop is version 1.4.3

[2021-03-24 19:27] bbmac-ds commented on #40
[log.log](https://github.com/neo4j-contrib/neo4j-etl/files/6199958/log.log)

[2021-03-24 21:15] conker84 commented on #40
Can you please be sure that the part in blue is checked as the image above?
In order to reach it you have to click to the highlighted buttons in this sequence: red, yellow, blue
<img width="1313" alt="Screenshot 2021-03-24 at 22 12 43" src="https://user-images.githubusercontent.com/1833335/112384060-3b4ded80-8cee-11eb-861a-e50a01e0f060.png">

Thank you

[2021-03-24 21:24] bbmac-ds commented on #40
![image](https://user-images.githubusercontent.com/37748796/112385203-f22d7780-8cb4-11eb-818c-eba09fa21d81.png)

This is how I have it configured.

[2021-03-24 21:26] bbmac-ds commented on #40
I noticed I have 'Allow access to activation keys' and I unchecked it. (Checked it a bit ago to see if it made a difference). I tried launching the ETL tool after I unchecked that box and it loaded but said I need to start a db

[2021-03-24 21:27] conker84 commented on #40
so it's working now?

[2021-03-24 21:29] bbmac-ds commented on #40
I started a local db and tried to launch the etl tool again. It thought for a bit longer than normal and then I got the blank UI

[2021-03-24 21:46] conker84 commented on #40
click on `Developer > Developer Tools` from the ETL blank ui? A chrome console should we shown please share tab `console` messages

[2021-03-24 23:55] bbmac-ds commented on #40
![image](https://user-images.githubusercontent.com/37748796/112398554-1778b080-8cca-11eb-9244-8919ddf81b7c.png)

[2021-03-25 11:56] conker84 commented on #40
That's really odd can you try with just remove and reinstall the etl tool?

[2021-03-29 12:12] pierre-neo4j opened #79 "Password is displayed in plain text when you enable "logs""
The password should be masked by a fixed length generic string like ****** as this can represent a security risk

![image](https://user-images.githubusercontent.com/81564067/112834751-4313e600-9090-11eb-8370-8382c4c5728e.png)

[2021-03-29 12:16] pierre-neo4j opened #80 "Better support for the neo4j+s URI scheme (Aura's default) when specifying a connection"
Currently the connection does not handle `neo4j+s` properly as it still specify the manual encryption when calling the driver.

The workaround is to use neo4j URI scheme and specify encryption separately.

![image](https://user-images.githubusercontent.com/81564067/112835118-c7666900-9090-11eb-9699-47ab5793e509.png)

[2021-07-29 20:32] whatSocks opened #81 "[PostgreSQL] hanging after "An illegal reflective access operation has occurred""
hanging after:

[code]

there's no way to quit after giving up on this process, which is confusing

[2021-07-29 20:34] whatSocks commented on #79
+1 to this. it would be very easy for someone to copy+paste sensitive credentials while having someone help debug

[2021-07-30 13:01] whatSocks commented on #81
I deleted the ETL app (manually checked the directory to make sure it wasn't there since there seems to be some issue with delete) and reinstalled. I'm getting a different log, but it still seems stuck:

[code]

[2021-08-06 08:42] conker84 opened #82 "Error while loading MySQL data into Neo4j using ETL"
I get this error when I try to import data. It says mapping is successful, I can see nodes and some relationships.

[code]

[2021-08-06 12:48] vga91 commented on #82
The bug is due to the empty MySql password `--rdbms:password ""`

[2021-09-06 01:59] slicksammy commented on #82
Thanks @vga91 - had the same issue and that fixed it

[2021-09-27 17:51] SWolfeCAI opened #83 "Load Data Model - "Start Mapping" spins forever, never completes"
I'm new to the ETL tool.  After creating an empty Neo4j instance, adding a RDBMS connection, and clicking "Start Mapping" the process begins.  The logs stop updating after ~2 minutes, but the `Start Mapping` and `Next` buttons remain disabled, with a spinner over Start Mapping.

The database I'm connecting to is moderately large.  It has approximately 375 tables and 250 views, with some tables con

[2021-10-19 11:27] rameshsunkara opened #84 "Import data fails with Null Pointer Exception"
#### Environment and Software Versions:
- macOS Catalina 10.15.7
- Neo4j Desktop 1.4.9
- Neo4j ETL 1.5.1
- Tried both Java Versions when running from command line
          - JDK 14 | AdoptOpenJDK (build 14.0.2+12)
          - JDK 8 | AdoptOpenJDK(build 1.8.0_272-b10)

### What am I trying to do ?
- Import data from my local MySql database to Neo4j AuraDB Instance (RDBMS -> GraphDB)

### Whats wor

[2021-10-19 11:51] rameshsunkara commented on #84
Empty MySql password caused the above error. Setting password to my local MySql DB helped.

https://issueexplorer.com/issue/neo4j-contrib/neo4j-etl/82

I am seeing different errors now but closing this issue for now.

[2021-10-19 11:51] #84 closed, assigned to nobody

[2021-12-01 14:02] busymo opened #85 "Neo4j ETL Tool not working on Neo4j Desktop 1.4.9"
I wanted to try out Neo4j ETL Tool with my databases where I could migrate my data from an Oracle DB to Neo4j DB but it seems that Neo4j ETL does not work with Neo4j Desktop 1.4.9.

Is there any solution about it or is there any configuration that I missed?? Just to clarify that I have ETL Tool under Graph Apps but when I want to open it, as it starts the ETL window it just hangs there forever.

T

[2021-12-02 10:22] iqoug opened #86 "How to change the relation’s "start node" and "end node"?"
when  i  ETLed  data by  rule :
"A table with 2 foreign keys is treated as a join table and imported as a relationship"
but those relation‘s directions auto generated by the tool was wrong or was not i want
i cant change the  relation’s  "start node" and "end node"
how can i do?
thanks !!
![屏幕截图 2021-12-02 181625](https://user-images.githubusercontent.com/26008116/144403382-0d44632c-a11c-4898-a56e

[2022-01-28 03:03] openkava opened #87 "can't mapping mssql (sqlserver 13)"
java.sql.SQLException: No matching schemas found
        at org.neo4j.etl.sql.DatabaseClient.getCatalog(DatabaseClient.java:184)
        at org.neo4j.etl.sql.DatabaseCatalog.<init>(DatabaseCatalog.java:81)
        at org.neo4j.etl.sql.metadata.TableInfoAssembler.<init>(TableInfoAssembler.java:35)
        at org.neo4j.etl.commands.DatabaseInspector.buildSchemaExport(DatabaseInspector.java:35)

[2022-01-28 03:04] openkava commented on #87
- Skipping reading import options from file because file [] doesn't exist.
- Creating RDBMS to CSV mappings...
- Using database plugin for
- Crawling schemas
- Retrieving all schemas
- Retrieving all catalogs
- Processed 13 rows for <retrieveAllSchemas>
- Retrieved 0 schemas
- Total time taken for <crawlSchemas> - 00:00:00.027 hours
-100.0% - 00:00:00.027 - <retrieveSchemas>
-  0.0% - 00:00:00.000

[2022-04-27 06:23] crazyyanchao commented on #78
I've encountered the same problem, the schema doesn't mapping!
My Url: jdbc:sqlite:C:\Users\zzbwa\AppData\Roaming\DBeaverData\workspace6\.metadata\sample-database-sqlite-1\Chinook.db
Driver: sqlite-jdbc-3.36.0.3.jar

[2022-06-11 07:01] borodjuka commented on #83
I have exactly the same issue. Did you find solution or workaround?

[2022-07-06 10:04] wyzfj0305 commented on #81
help me!

[2022-07-29 22:30] stevesolun opened #88 "Can't map postgres to Neo4j graph using Neo4j ETL tool?"
I am trying to map my Cloudquery database (postgres) to Neo4j using ETL Tool.

Project created with the following version:

Version 4.4.5
Neoj4 Desktop version 1.4.15.
I am on OSX Monterey 12.5 (21G72), Apple M1 Pro.

For the postgres (where cloudquery is pouring the data) I am using postgres:13.7-alpine3.16 docker image.

Selected RDBMS instance (connection succeeded) and my project. Within the m

[2022-07-29 22:31] stevesolun commented on #88
@nossila @akollegger @jexp @sarmbruster can you please help me out with it?

[2022-08-31 10:46] vga91 opened #89 "Bulk import fails using Neo4j Desktop on Windows due to `InvalidPathException`"
When trying to import to windows 10, via Graph App UI, into a db `STOPPED` and with import mode: `Bulk Import`,
the following error is received:

[code]

[2022-09-27 06:43] benelot opened #91 "How to import data from views?"
We are currently evaluating neo4j to export our RDBMS and then export the data into RDF through the RDF extension.

Using the desktop ETL tools I can easily import tables, which is also properly documented through the three mapping logics:

A table with a foreign key is treated as a join and imported as a node with a relationship

A table with 2 foreign keys is treated as a join table and imported

[2022-09-27 12:48] vga91 commented on #91
@benelot Unfortunately it is not currently possible to import views using neo4j-etl.
As a provisional workaround, I would suggest you create support tables starting from the views.